<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.onlyid.sdk">

    <application>
        <activity
            android:name=".OAuthActivity"
            android:label="登录授权"
            android:screenOrientation="portrait"
            android:theme="@style/only_OAuthActivity" />
    </application>
</manifest>
